{% extends "layout.html" %}
{% block content %}
    <div>
        {% if user.admin_rights == 2 %}
            <a href="{{url_for('admin.manage_users')}}">Manage Users</a>
            <a href="{{url_for('admin.manage_article')}}">Manage Posts</a>
        {% elif user.admin_rights == 1 %}
            <a href="{{url_for('editor.manage_users_editor')}}">Manage Users</a>
            <a href="{{url_for('editor.manage_article_editor')}}">Manage Posts</a>
            <a href="{{url_for('user.edit_account')}}">Edit Account</a>
        {% else %}
            <a href="{{url_for('user.manage_article_user')}}">Manage Posts</a>
            <a href="{{url_for('user.edit_account')}}">Edit Account</a>
        {% endif %}
    </div>
{% endblock content %}