{% extends "layout.html" %}
{% block content %}
    <article style="font-family: var(--font-family);" >
        <h1 class="mt-5 font-weight-bold text-center h1">{{article.title}}</h1>
        <h3 class="mt-4 mb-4 font-weight-bold ml-5">{{article.subtitle}}</h3>
        <div class="d-flex flex-column align-items-center mb-5">
            <img class="img-fluid rounded" src="{{url_for('static', filename = 'pics/' + article.image_of_article)}}" style="min-width: 25vw; max-width: 50vw;">
            <span>{{article.time_posted.strftime('%Y-%m-%d %A')}}</span>
        </div>
        <div class="mr-5 ml-5 text-left h4 text-break" style="letter-spacing:2px; white-space:pre-wrap">
            {{ article.content }}
        </div>
        <h3 class="font-weight-bold ml-5">Author: {{article.author.fullname}}</h3>
        <h3 class="font-weight-bold ml-5">Source: "{{article.source}}"</h3>
    </article>
    {% if option %}
    <div class="d-flex flex-row justify-content-center">
        <a class="btn-lg mr-5 btn btn-outline-primary" href="{{url_for('articles.edit_article', article_id = article.id)}}">Edit Article</a>
        <a class="btn-lg ml-5 btn btn-outline-danger" href="{{url_for('articles.delete_article', article_id = article.id)}}">Delete Article</a>
    </div>
    {% endif %}   
{% endblock content %}