{% extends "layout.html" %}
{% block content %}
    <article>
        <span>{{article.time_posted.strftime('%Y-%m-%d %A')}}</span>
        <h1>{{article.tittle}}</h1>
        <h3>{{article.subtitle}}</h3>
        <img src="{{url_for('static', filename = 'pics/' + article.image_of_article)}}">
        <br>
        <span> {{ article.content }}</span>
        <h3>Author:</h3>
        <span>{{article.author.fullname}}</span>
        <h3>Source:</h3>
        <span>{{article.source}}</span>
        <h3>Category:</h3>
        <span>{{article.category}}</span>
    </article>
    {% if option %}
        <a href="{{url_for('articles.edit_article', article_id = article.id)}}">Edit Article</a>
        <a href="{{url_for('articles.delete_article', article_id = article.id)}}">Delete Article</a>
    {% endif %}    
{% endblock content %}