{% extends "layout.html" %}
{% block content %}
  <form class="font-style-root d-flex flex-column mt-5" method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset>
      {% if legend %}
        <legend class="d-flex justify-content-center font-weight-bold mb-3">{{ legend }}</legend>
      {% else %}
        <legend class="d-flex justify-content-center font-weight-bold mb-3">Vibes Form</legend>
      {% endif %}
      <div class="form-group mb-3">
        {{ form.fullname.label(class="d-flex justify-content-center") }} 
        {% if form.fullname.errors %}
          {{form.fullname(class="form-control", style="width:25%; margin-left:37.5%;")}}
          <div class="d-flex justify-content-center mt-2">
          {% for erorr in form.fullname.errors %}
            <span class="font-weight-bold border border-danger text-center" style="width: 25%;">{{erorr}}</span>
          {% endfor %}
          </div>
        {% else %}
          {{form.fullname(class="form-control", style="width:25%; margin-left:37.5%;")}}
        {% endif %}
      </div>
      <div class="form-group mb-3">
        <!-- TO -->
        {{ form.username.label(class="d-flex justify-content-center") }}
        {% if form.username.errors %}
          {{form.username(class="form-control", style="width:25%; margin-left:37.5%;")}}
          <div class="d-flex justify-content-center mt-2">
          {% for erorr in form.username.errors %}
            <span class="font-weight-bold border border-danger text-center" style="width: 25%;">{{erorr}}</span>
          {% endfor %}
          </div>
        {% else %}
          {{form.username(class="form-control", style="width:25%; margin-left:37.5%;")}} 
        {% endif %}
      </div>
      <div class="form-group mb-3"> 
        {{ form.email.label(class="d-flex justify-content-center") }}
        {% if form.email.errors %}
          {{form.email(class="form-control", style="width:25%; margin-left:37.5%;")}}
          <div class="d-flex justify-content-center mt-2">
          {% for erorr in form.email.errors %}
            <span class="font-weight-bold border border-danger text-center" style="width: 25%;">{{erorr}}</span>
          {% endfor %}
          </div>
        {% else %}
          {{form.email(class="form-control", style="width:25%; margin-left:37.5%;") }} 
        {% endif %}
      </div>
      <div class="form-group mb-3">
        {{ form.password.label(class="d-flex justify-content-center") }}
        {% if form.password.errors %}
          {{form.password(class="form-control", style="width:25%; margin-left:37.5%;")}}
          <div class="d-flex justify-content-center mt-2">
          {% for erorr in form.password.errors %}
            <span class="font-weight-bold border border-danger text-center" style="width: 25%;">{{erorr}}</span>
          {% endfor %}
          </div>
        {% else %}
          {{form.password(class="form-control", style="width:25%; margin-left:37.5%;") }} 
        {% endif %}
      </div>
    </fieldset>
    <div class="d-flex justify-content-center">{{ form.submit(class="btn btn-outline-primary") }}</div>
  </form>
{% endblock content %}
