{% extends "layout.html" %}
{% block content %}
  <form class="font-style-root d-flex flex-column mt-5" method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset>
      {% if legend %}
        <legend class="d-flex justify-content-center font-weight-bold mb-3">{{ legend }}</legend>
      {% else %}
        <legend class="d-flex justify-content-center font-weight-bold mb-3">Vibes Form</legend>
      {% endif %}
      <div class="form-group mb-3">
        {{ form.email.label(class="d-flex justify-content-center") }} 
        {% if form.email.errors %}
          {{form.email(class="form-control", style="width:25%; margin-left:37.5%;")}}
          <div class="d-flex justify-content-center mt-2">
          {% for erorr in form.email.errors %}
            <span class="font-weight-bold border border-danger text-center" style="width: 25%;">{{erorr}}</span>
          {% endfor %}
          </div>
        {% else %}
          {{form.email(class="form-control", style="width:25%; margin-left:37.5%;") }}
        {% endif %}
      </div>
      <div class="form-group mb-1">
        {{ form.password.label(class="d-flex justify-content-center") }}
        {% if form.password.errors %}
          {{form.password(class="form-control d-flex justify-content-center", style="width:25%; margin-left:37.5%;")}}
          <div class="d-flex justify-content-center mt-2">
          {% for erorr in form.password.errors %}
            <span class="font-weight-bold border border-danger text-center" style="width: 25%;">{{erorr}}</span>
          {% endfor %}
          </div>
        {% else %}
          {{form.password(class="form-control d-flex justify-content-center", style="width:25%; margin-left:37.5%;") }} 
        {% endif %}
      </div>
      <a class="link-primary d-flex justify-content-center mb-3"
        href="{{url_for('users.reset_password')}}"
        >Resset Password</a
      >
    </fieldset>
    <div class="d-flex justify-content-center mb-2">{{ form.submit(class="btn btn-primary") }}</div>
    <div class="font-weight-bold d-flex justify-content-center">
      If you don't have account
      you can request it by entering this
      <a class="mr-1 ml-1"
        href="{{url_for('users.contact_admin')}}"
        > link </a
      >
      and filling form
    </div>
  </form>
{% endblock content %}
