{% extends "layout.html" %}
{% block content %}
<div>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset>
      {% if legend %}
        <legend>{{ legend }}</legend>
      {% else %}
        <legend>Vibes Form</legend>
      {% endif %}
      <div>
        {{ form.email.label }} 
        {% if form.email.errors %}
          {{form.email}}
          <div>
          {% for erorr in form.email.errors %}
            <span>{{erorr}}</span>
          {% endfor %}
          </div>
        {% else %}
          {{form.email }}
        {% endif %}
      </div>
      <div>
        {{ form.password.label }}
        {% if form.password.errors %}
          {{form.password}}
          <div>
          {% for erorr in form.password.errors %}
            <span>{{erorr}}</span>
          {% endfor %}
          </div>
        {% else %}
          {{form.password }} 
        {% endif %}
      </div>
      <a
        href="{{url_for('reset_password')}}"
        >Resset Password</a
      >
    </fieldset>
    <div>{{ form.submit }}</div>
    <div>
      If you don't have account, you can
      request it by entering this
      <a
        href="{{url_for('contact_admin')}}"
        >link</a
      >
      and filling form
    </div>
  </form>
</div>
{% endblock content %}
