{% extends "layout.html" %}
{% block content %}
    <br><div>Posts :</div>
    {% for article in articles %}
    <div>
        Post {{article.id}}, Title: {{article.title}}, Image of Article (src): {{article.image_of_article}}, Subtitle: {{article.subtitle}}, Source: {{article.source}}, Category: {{article.category}}, Author: {{article.author}}, Article time: {{time - article.time_posted}} <a href="{{url_for('articles.article', article_id = article.id)}}">Link to article </a></div> 
    {% endfor %}
    <br>
    <div>
        {% if user.admin_rights == 2 %}
        <a href="{{url_for('admin.create_article')}}">Create Post</a>
        {% elif user.admin_rights == 1 %}
        <a href="{{url_for('editor.create_article')}}">Create Post</a>
        {% elif user.admin_rights == 0 %}
        <a href="#">Create Post</a>
        {% endif %}
    </div>
{% endblock content %}