{% extends "layout.html" %}
{% block content %}
<div>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset>
      {% if legend %}
        <legend>{{ legend }}</legend>
      {% else %}
        <legend>Vibes Form</legend>
      {% endif %}
      <div>
        {{ form.email.label }}
        {% if form.email.errors %}
          {{form.email}}
          <div>
          {% for erorr in form.email.errors %}
            <span>{{erorr}}</span>
          {% endfor %}
          </div>
        {% else %}
          {{form.email }}
        {% endif %}
      </div>
      <div>
        {{ form.confirm_email.label }}
        {% if form.confirm_email.errors %}
          {{form.confirm_email}}
          <div>
          {% for erorr in form.confirm_email.errors %}
            <span>{{erorr}}</span>
          {% endfor %}
          </div>
        {% else %}
          {{form.confirm_email}}
        {% endif %}
      </div>
    </fieldset>
    <div>{{ form.submit }}</div>
  </form>
  <div>
    If you having truble try contant
    with admin through this
    <a
      href="{{url_for('contact_admin')}}"
      >link</a
    >
  </div>
</div>
{% endblock content %}
