{% extends "layout.html" %}
{% block content %}
  <form class="font-style-root d-flex flex-column mt-5" method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset>
      {% if legend %}
        <legend class="d-flex justify-content-center font-weight-bold mb-3">{{ legend }}</legend>
      {% else %}
        <legend class="d-flex justify-content-center font-weight-bold mb-3">Vibes Form</legend>
      {% endif %}
      <div class="form-group mb-3">
        {{ form.password.label(class="d-flex justify-content-center") }}
        {% if form.password.errors %}
          {{form.password (class="form-control", style="width:25%; margin-left:37.5%;")}}
          <div class="d-flex justify-content-center mt-2">
          {% for erorr in form.password.errors %}
            <span class="font-weight-bold border border-danger text-center" style="width: 25%;">{{erorr}}</span>
          {% endfor %}
          </div>
        {% else %}
          {{form.password(class="form-control", style="width:25%; margin-left:37.5%;") }}
        {% endif %}
      </div>
      <div class="form-group mb-3">
        {{ form.confirm_password.label(class="d-flex justify-content-center") }}
        {% if form.confirm_password.errors %}
          {{form.confirm_password (class="form-control", style="width:25%; margin-left:37.5%;")}}
          <div class="d-flex justify-content-center mt-2">
          {% for erorr in form.confirm_password.errors %}
            <span class="font-weight-bold border border-danger text-center" style="width: 25%;">{{erorr}}</span>
          {% endfor %}
          </div>
        {% else %}
          {{form.confirm_password(class="form-control", style="width:25%; margin-left:37.5%;")}}
        {% endif %}
      </div>
    </fieldset>
    <div class="d-flex justify-content-center mb-2">{{ form.submit(class="btn btn-primary") }}</div>
  </form>
  <div class="font-weight-bold d-flex justify-content-center">
    If you having truble try contant
    with admin through this
    <a 
      class="ml-1"
      href="{{url_for('users.contact_admin')}}"
      >link</a
    >
  </div>
{% endblock content %}
